---
version: 2
interactions:
    - id: 0
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/me?with_related_data=true
        method: GET
      response:
        body: "{\"id\":2166261,\"api_token\":\"********************************\",\"email\":\"marcodroesler@gmail.com\",\"fullname\":\"Marco\",\"timezone\":\"Europe/Berlin\",\"toggl_accounts_id\":\"WSBrE7LiQPJ7PKA7WnCAnk\",\"default_workspace_id\":2230580,\"beginning_of_week\":1,\"image_url\":\"https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404\\u0026s=200\",\"created_at\":\"2016-03-20T20:40:08.017845Z\",\"updated_at\":\"2024-12-14T12:04:59.513697Z\",\"openid_email\":null,\"openid_enabled\":true,\"country_id\":null,\"has_password\":true,\"at\":\"2024-12-15T23:18:30.62207Z\",\"intercom_hash\":\"ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52\",\"oauth_providers\":[\"google\"],\"tags\":[{\"id\":16939168,\"workspace_id\":2230580,\"name\":\"AGL\",\"at\":\"2024-11-08T19:11:14.332795Z\",\"creator_id\":2166261},{\"id\":13205684,\"workspace_id\":2230580,\"name\":\"Compare Alternatives\",\"at\":\"2022-11-04T23:23:28.20983Z\",\"creator_id\":2166261},{\"id\":13169096,\"workspace_id\":2230580,\"name\":\"Create Content for Faetools.com\",\"at\":\"2022-10-28T11:23:35.956299Z\",\"creator_id\":2166261},{\"id\":13155424,\"workspace_id\":2230580,\"name\":\"Create CSS bundler\",\"at\":\"2022-10-25T19:19:52.925472Z\",\"creator_id\":2166261},{\"id\":16939169,\"workspace_id\":2230580,\"name\":\"Fae Tools\",\"at\":\"2024-11-08T19:11:14.341404Z\",\"creator_id\":2166261},{\"id\":13164614,\"workspace_id\":2230580,\"name\":\"Fix Pagespeed Issues\",\"at\":\"2022-10-27T13:02:54.83923Z\",\"creator_id\":2166261},{\"id\":3570301,\"workspace_id\":2230580,\"name\":\"mobile\",\"at\":\"2022-08-26T20:26:18.510465Z\",\"creator_id\":2166261},{\"id\":13154422,\"workspace_id\":2230580,\"name\":\"Pilot: Proactively serve customers\",\"at\":\"2022-10-25T15:19:35.640635Z\",\"creator_id\":2166261},{\"id\":13207357,\"workspace_id\":2230580,\"name\":\"Set Up Stripe\",\"at\":\"2022-11-05T20:21:38.490242Z\",\"creator_id\":2166261},{\"id\":12489208,\"workspace_id\":2230580,\"name\":\"Story\",\"at\":\"2022-08-26T20:45:38.185398Z\",\"creator_id\":2166261},{\"id\":13155425,\"workspace_id\":2230580,\"name\":\"Sub-task\",\"at\":\"2022-10-25T19:19:52.925472Z\",\"creator_id\":2166261},{\"id\":12489209,\"workspace_id\":2230580,\"name\":\"Website Creator\",\"at\":\"2022-08-26T20:45:38.185398Z\",\"creator_id\":2166261}],\"clients\":[{\"id\":64890399,\"wid\":2230580,\"archived\":false,\"name\":\"AGL\",\"at\":\"2024-03-17T10:55:38+00:00\",\"creator_id\":2166261},{\"id\":64890400,\"wid\":2230580,\"archived\":false,\"name\":\"Mark\",\"at\":\"2024-03-17T10:56:13+00:00\",\"creator_id\":2166261},{\"id\":64890401,\"wid\":2230580,\"archived\":false,\"name\":\"Fae Tools\",\"at\":\"2024-03-17T10:56:27+00:00\",\"creator_id\":2166261},{\"id\":64890402,\"wid\":2230580,\"archived\":false,\"name\":\"Socratic Realms\",\"at\":\"2024-03-17T10:56:34+00:00\",\"creator_id\":2166261}],\"time_entries\":[{\"id\":3730144200,\"workspace_id\":2230580,\"project_id\":null,\"task_id\":null,\"billable\":false,\"start\":\"2024-12-15T20:20:50+00:00\",\"stop\":\"2024-12-15T20:20:50+00:00\",\"duration\":0,\"description\":null,\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-12-15T20:20:50.283589Z\",\"server_deleted_at\":null,\"user_id\":2166261,\"uid\":2166261,\"wid\":2230580},{\"id\":3730143732,\"workspace_id\":2230580,\"project_id\":null,\"task_id\":null,\"billable\":false,\"start\":\"2024-12-15T20:19:39+00:00\",\"stop\":\"2024-12-15T20:19:39+00:00\",\"duration\":0,\"description\":null,\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-12-15T20:19:39.362926Z\",\"server_deleted_at\":null,\"user_id\":2166261,\"uid\":2166261,\"wid\":2230580},{\"id\":3730143050,\"workspace_id\":2230580,\"project_id\":null,\"task_id\":null,\"billable\":false,\"start\":\"2024-12-15T20:17:59+00:00\",\"stop\":\"2024-12-15T20:17:59+00:00\",\"duration\":0,\"description\":null,\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-12-15T20:17:59.767861Z\",\"server_deleted_at\":null,\"user_id\":2166261,\"uid\":2166261,\"wid\":2230580},{\"id\":3730092025,\"workspace_id\":2230580,\"project_id\":155392684,\"task_id\":null,\"billable\":false,\"start\":\"2024-12-15T17:57:33+00:00\",\"stop\":\"2024-12-15T21:50:06+00:00\",\"duration\":13953,\"description\":\"Open Sourcing\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-12-15T21:50:09.354693Z\",\"server_deleted_at\":null,\"user_id\":2166261,\"uid\":2166261,\"wid\":2230580,\"pid\":155392684},{\"id\":3730053841,\"workspace_id\":2230580,\"project_id\":193467840,\"task_id\":null,\"billable\":false,\"start\":\"2024-12-15T16:00:00+00:00\",\"stop\":\"2024-12-15T17:42:08+00:00\",\"duration\":6128,\"description\":\"Bible Study Group\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-12-15T17:42:08.941526Z\",\"server_deleted_at\":null,\"user_id\":2166261,\"uid\":2166261,\"wid\":2230580,\"pid\":193467840},{\"id\":3730030851,\"workspace_id\":2230580,\"project_id\":155392684[...]
    - id: 1
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/me/time_entries/current
        method: GET
      response:
        body: "null"
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-wlr98
            X-Service-Level:
                - GREEN
            X-Toggl-Request-Id:
                - 92fe78bb-e643-4925-bc9e-6f91026b7401
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 200 OK
        code: 200
        duration: 127.193708ms
    - id: 2
      request:
        host: api.track.toggl.com
        body: '{"created_with":"github.com/go-api-libs/toggl","duration":3600,"start":"2024-12-16T03:18:20.257412+01:00","workspace_id":2230580}'
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
            Content-Type:
                - application/json
        url: https://api.track.toggl.com/api/v9/workspaces/2230580/time_entries
        method: POST
      response:
        body: '{"id":3730276799,"workspace_id":2230580,"project_id":null,"task_id":null,"billable":false,"start":"2024-12-16T02:18:20Z","stop":"2024-12-16T03:18:20Z","duration":3600,"description":null,"tags":null,"tag_ids":null,"duronly":true,"at":"2024-12-16T01:18:20.433038Z","server_deleted_at":null,"user_id":2166261,"uid":2166261,"wid":2230580}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-l4vmk
            X-Service-Level:
                - GREEN
            X-Toggl-Request-Id:
                - 68cadff8-7205-43f5-9ee2-5898f7ff45b7
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 200 OK
        code: 200
        duration: 259.553958ms
[...]
    - id: 6
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/workspaces/2230580/time_entries/3730303299/stop
        method: PATCH
      response:
        body: '{"id":3730303299,"workspace_id":2230580,"project_id":null,"task_id":null,"billable":false,"start":"2024-12-16T01:55:24Z","stop":"2024-12-16T02:11:58Z","duration":994,"description":"Hello Toggl","tags":[],"tag_ids":[],"duronly":true,"at":"2024-12-16T02:11:58.489116Z","server_deleted_at":null,"user_id":2166261,"uid":2166261,"wid":2230580}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-wlr98
            X-Service-Level:
                - GREEN
            X-Toggl-Request-Id:
                - f415b18b-39ab-4ce0-b6a2-6a3e8b070f55
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 200 OK
        code: 200
        duration: 231.212708ms
    - id: 7
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/me/time_entries?start_date=1984-03-10&end_date=1984-03-12
        method: GET
      response:
        body: '"start_date must not be earlier than 2024-09-16"'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-l4vmk
            X-Toggl-Request-Id:
                - 4e79672a-be59-487c-9db7-b116b0b28f7f
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 400 Bad Request
        code: 400
        duration: 211.440875ms
