---
version: 2
interactions:
    - id: 0
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/me/organizations
        method: GET
      response:
        body: '[{"id":2108099,"name":"Atlantean Renaissance","pricing_plan_id":0,"created_at":"2020-07-01T07:42:35.365613Z","at":"2020-07-01T07:42:35.365613Z","server_deleted_at":null,"is_multi_workspace_enabled":false,"suspended_at":null,"user_count":1,"trial_info":{"trial":false,"trial_available":true,"trial_end_date":null,"next_payment_date":null,"last_pricing_plan_id":null,"can_have_trial":true,"trial_plan_id":null},"is_unified":false,"max_workspaces":20,"permissions":null,"admin":true,"owner":true,"pricing_plan_name":"Free","pricing_plan_enterprise":false},{"id":9011051,"name":"Your Organization","pricing_plan_id":0,"created_at":"2024-12-16T19:09:07.041832Z","at":"2024-12-16T19:09:07.041832Z","server_deleted_at":null,"is_multi_workspace_enabled":false,"suspended_at":null,"user_count":1,"trial_info":{"trial":false,"trial_available":true,"trial_end_date":null,"next_payment_date":null,"last_pricing_plan_id":null,"can_have_trial":true,"trial_plan_id":null},"is_unified":false,"max_workspaces":20,"permissions":null,"admin":true,"owner":true,"pricing_plan_name":"Free","pricing_plan_enterprise":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-zxq96
            X-Service-Level:
                - GREEN
            X-Toggl-Request-Id:
                - 0eceb911-5f31-4846-8089-86303ba335bd
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 200 OK
        code: 200
        duration: 289.484125ms
    - id: 1
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/organizations/9011051
        method: GET
      response:
        body: '{"id":9011051,"name":"Your Organization","pricing_plan_id":0,"created_at":"2024-12-16T19:09:07.041832Z","at":"2024-12-16T19:09:07.041832Z","server_deleted_at":null,"is_multi_workspace_enabled":false,"suspended_at":null,"user_count":1,"trial_info":{"trial":false,"trial_available":true,"trial_end_date":null,"next_payment_date":null,"last_pricing_plan_id":null,"can_have_trial":true,"trial_plan_id":null},"is_unified":false,"max_workspaces":20,"permissions":null,"admin":true,"owner":true,"pricing_plan_name":"","pricing_plan_enterprise":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-zxq96
            X-Service-Level:
                - GREEN
            X-Toggl-Request-Id:
                - 81184c1f-0672-4496-8b26-2d6973de6ebc
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 200 OK
        code: 200
        duration: 217.511625ms
    - id: 2
      request:
        host: api.track.toggl.com
        body: '{"admins": [0],"default_currency": "string","default_hourly_rate": 0,"initial_pricing_plan": 0,"name": "string","only_admins_may_create_projects": true,"only_admins_see_billable_rates": true,"only_admins_see_team_dashboard": true,"organizationID": 0,"projects_billable_by_default": true,"rounding": 0,"rounding_minutes": 0}'
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/organizations/9011051/workspaces
        method: POST
      response:
        body: '"User does not have access to this resource"'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-585897c699-j8r5k
            X-Toggl-Request-Id:
                - 9abc9c59-332e-4625-8a8d-ee85e62683bf
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 403 Forbidden
        code: 403
        duration: 193.220625ms
