---
version: 2
interactions:
    - id: 0
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/me
        method: GET
      response:
        body: '{"id":2166261,"api_token":"********************************","email":"marcodroesler@gmail.com","fullname":"Marco","timezone":"Europe/Berlin","toggl_accounts_id":"WSBrE7LiQPJ7PKA7WnCAnk","default_workspace_id":2230580,"beginning_of_week":1,"image_url":"https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404\u0026s=200","created_at":"2016-03-20T20:40:08.017845Z","updated_at":"2024-11-26T17:13:54.850204Z","openid_email":null,"openid_enabled":true,"country_id":null,"has_password":true,"at":"2024-12-11T17:43:57.206072Z","intercom_hash":"ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52","oauth_providers":["google"],"authorization_updated_at":"2024-07-02T14:55:08.008327Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-wxt8v
            X-Service-Level:
                - GREEN
            X-Toggl-Request-Id:
                - 353eef02-60d1-4d99-969b-96e0d101ea45
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 200 OK
        code: 200
        duration: 195.018167ms
