---
version: 2
interactions:
    - id: 0
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/me?with_related_data=true
        method: GET
      response:
        body: "{\"id\":2166261,\"api_token\":\"********************************\",\"email\":\"marcodroesler@gmail.com\",\"fullname\":\"Marco\",\"timezone\":\"Europe/Berlin\",\"toggl_accounts_id\":\"WSBrE7LiQPJ7PKA7WnCAnk\",\"default_workspace_id\":2230580,\"beginning_of_week\":1,\"image_url\":\"https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404\\u0026s=200\",\"created_at\":\"2016-03-20T20:40:08.017845Z\",\"updated_at\":\"2024-11-26T17:13:54.850204Z\",\"openid_email\":null,\"openid_enabled\":true,\"country_id\":null,\"has_password\":true,\"at\":\"2024-12-12T23:09:57.478167Z\",\"intercom_hash\":\"ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52\",\"oauth_providers\":[\"google\"],\"tags\":[{\"id\":16939168,\"workspace_id\":2230580,\"name\":\"AGL\",\"at\":\"2024-11-08T19:11:14.332795Z\",\"creator_id\":2166261},{\"id\":13205684,\"workspace_id\":2230580,\"name\":\"Compare Alternatives\",\"at\":\"2022-11-04T23:23:28.20983Z\",\"creator_id\":2166261},{\"id\":13169096,\"workspace_id\":2230580,\"name\":\"Create Content for Faetools.com\",\"at\":\"2022-10-28T11:23:35.956299Z\",\"creator_id\":2166261},{\"id\":13155424,\"workspace_id\":2230580,\"name\":\"Create CSS bundler\",\"at\":\"2022-10-25T19:19:52.925472Z\",\"creator_id\":2166261},{\"id\":16939169,\"workspace_id\":2230580,\"name\":\"Fae Tools\",\"at\":\"2024-11-08T19:11:14.341404Z\",\"creator_id\":2166261},{\"id\":13164614,\"workspace_id\":2230580,\"name\":\"Fix Pagespeed Issues\",\"at\":\"2022-10-27T13:02:54.83923Z\",\"creator_id\":2166261},{\"id\":3570301,\"workspace_id\":2230580,\"name\":\"mobile\",\"at\":\"2022-08-26T20:26:18.510465Z\",\"creator_id\":2166261},{\"id\":13154422,\"workspace_id\":2230580,\"name\":\"Pilot: Proactively serve customers\",\"at\":\"2022-10-25T15:19:35.640635Z\",\"creator_id\":2166261},{\"id\":13207357,\"workspace_id\":2230580,\"name\":\"Set Up Stripe\",\"at\":\"2022-11-05T20:21:38.490242Z\",\"creator_id\":2166261},{\"id\":12489208,\"workspace_id\":2230580,\"name\":\"Story\",\"at\":\"2022-08-26T20:45:38.185398Z\",\"creator_id\":2166261},{\"id\":13155425,\"workspace_id\":2230580,\"name\":\"Sub-task\",\"at\":\"2022-10-25T19:19:52.925472Z\",\"creator_id\":2166261},{\"id\":12489209,\"workspace_id\":2230580,\"name\":\"Website Creator\",\"at\":\"2022-08-26T20:45:38.185398Z\",\"creator_id\":2166261}],\"clients\":[{\"id\":64890399,\"wid\":2230580,\"archived\":false,\"name\":\"AGL\",\"at\":\"2024-03-17T10:55:38+00:00\",\"creator_id\":2166261},{\"id\":64890400,\"wid\":2230580,\"archived\":false,\"name\":\"Mark\",\"at\":\"2024-03-17T10:56:13+00:00\",\"creator_id\":2166261},{\"id\":64890401,\"wid\":2230580,\"archived\":false,\"name\":\"Fae Tools\",\"at\":\"2024-03-17T10:56:27+00:00\",\"creator_id\":2166261},{\"id\":64890402,\"wid\":2230580,\"archived\":false,\"name\":\"Socratic Realms\",\"at\":\"2024-03-17T10:56:34+00:00\",\"creator_id\":2166261}],\"time_entries\":[{\"id\":3727773734,\"workspace_id\":2230580,\"project_id\":155392684,\"task_id\":null,\"billable\":false,\"start\":\"2024-12-12T20:38:54+00:00\",\"stop\":null,\"duration\":-1734035934,\"description\":\"Open Sourcing\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-12-12T20:40:28.056447Z\",\"server_deleted_at\":null,\"user_id\":2166261,\"uid\":2166261,\"wid\":2230580,\"pid\":155392684},{\"id\":3727713550,\"workspace_id\":2230580,\"project_id\":63334778,\"task_id\":null,\"billable\":false,\"start\":\"2024-12-12T19:49:11+00:00\",\"stop\":\"2024-12-12T20:38:05+00:00\",\"duration\":2934,\"description\":\"Write Newsletter Emails\",\"tags\":[],\"tag_ids\":[],\"duronly\":true,\"at\":\"2024-12-12T20:38:06.061437Z\",\"server_deleted_at\":null,\"user_id\":2166261,\"uid\":2166261,\"wid\":2230580,\"pid\":63334778},{\"id\":3727357193,\"workspace_id\":2230580,\"project_id\":19346[...]
    - id: 1
      request:
        host: api.track.toggl.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Basic ********************************************************
        url: https://api.track.toggl.com/api/v9/me/time_entries/current
        method: GET
      response:
        body: '{"id":3727977106,"workspace_id":2230580,"project_id":155392684,"task_id":null,"billable":false,"start":"2024-12-13T00:18:26+00:00","stop":null,"duration":-1734049107,"description":"Open Sourcing","tags":[],"tag_ids":[],"duronly":true,"at":"2024-12-13T00:18:26.835197Z","server_deleted_at":null,"user_id":2166261,"uid":2166261,"wid":2230580,"pid":155392684}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Instance:
                - track-public-api-proxy-66895d4956-l4vmk
            X-Service-Level:
                - GREEN
            X-Toggl-Request-Id:
                - d066dd99-2f0f-4bff-aa8b-98a231b82ad3
            X-We-Are-Hiring:
                - https://toggl.com/jobs/
        status: 200 OK
        code: 200
        duration: 184.221875ms
 