{
  "openapi": "3.1.0",
  "info": {
    "title": "Toggl API",
    "description": "The Toggl API allows developers to interact with Toggl's time tracking service programmatically. It provides endpoints for managing time entries, projects, clients, tags, and user information. With this API, you can automate time tracking, generate detailed reports, and integrate Toggl with other tools and services.",
    "termsOfService": "https://toggl.com/terms/",
    "license": {
      "name": "Toggl Proprietary License"
    },
    "version": "9"
  },
  "servers": [
    {
      "url": "https://api.track.toggl.com/api/v9"
    }
  ],
  "paths": {
    "/me": {
      "parameters": [
        {
          "$ref": "#/components/parameters/with_related_data"
        }
      ],
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Return Current User",
        "description": "Returns details for the current user.",
        "operationId": "GetMe",
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/time_entries": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "post": {
        "tags": [
          "time_entries"
        ],
        "summary": "Create a time entry",
        "description": "Creates a new workspace TimeEntry.",
        "operationId": "CreateTimeEntry",
        "requestBody": {
          "$ref": "#/components/requestBodies/TimeEntry"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/TimeEntryResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/me/time_entries/current": {
      "get": {
        "tags": [
          "time_entries"
        ],
        "summary": "Get current time entry",
        "description": "Load running time entry for the current user.",
        "operationId": "GetCurrentTimeEntry",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TimeEntryResponse"
          }
        }
      }
    },
    "/workspaces/{workspace_id}/time_entries/3730303299/stop": {
      "parameters": [
        {
          "$ref": "#/components/parameters/workspace_id"
        }
      ],
      "patch": {
        "summary": "Stop an existing time entry",
        "operationId": "PatchWorkspaces2230580TimeEntries3730303299Stop",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PatchWorkspaces2230580TimeEntries3730303299StopOkResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserWithRelated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 2166261
          },
          "api_token": {
            "type": "string",
            "example": "********************************"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "marcodroesler@gmail.com"
          },
          "fullname": {
            "type": "string",
            "example": "Marco"
          },
          "timezone": {
            "type": "string",
            "example": "Europe/Berlin"
          },
          "toggl_accounts_id": {
            "type": "string",
            "example": "WSBrE7LiQPJ7PKA7WnCAnk"
          },
          "default_workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "beginning_of_week": {
            "type": "integer",
            "example": 1
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "example": "https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404&s=200"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2016-03-20T20:40:08.017845Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-26T17:13:54.850204Z"
          },
          "openid_email": {
            "type": "object"
          },
          "openid_enabled": {
            "type": "boolean",
            "example": true
          },
          "country_id": {
            "type": "integer"
          },
          "has_password": {
            "type": "boolean",
            "example": true
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-11T17:43:57.206072Z"
          },
          "intercom_hash": {
            "type": "string",
            "example": "ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52"
          },
          "oauth_providers": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "google"
            },
            "example": [
              "google"
            ]
          },
          "authorization_updated_at": {
            "description": "A timestamp when the authorization user session object was last updated.",
            "type": "string",
            "format": "date-time",
            "example": "2024-07-02T14:55:08.008327Z"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          },
          "clients": {
            "$ref": "#/components/schemas/Clients",
            "description": "Clients, null if with_related_data was not set to true or if the user does not have any clients"
          },
          "time_entries": {
            "$ref": "#/components/schemas/TimeEntries"
          },
          "options": {
            "$ref": "#/components/schemas/Options"
          },
          "projects": {
            "$ref": "#/components/schemas/Projects",
            "description": "Projects, null if with_related_data was not set to true or if the user does not have any projects"
          },
          "workspaces": {
            "$ref": "#/components/schemas/Workspaces"
          }
        },
        "required": [
          "id",
          "api_token",
          "email",
          "fullname",
          "timezone",
          "toggl_accounts_id",
          "default_workspace_id",
          "beginning_of_week",
          "image_url",
          "created_at",
          "updated_at",
          "openid_email",
          "openid_enabled",
          "country_id",
          "has_password",
          "at",
          "intercom_hash",
          "oauth_providers",
          "authorization_updated_at"
        ],
        "example": {
          "id": 2166261,
          "api_token": "********************************",
          "email": "marcodroesler@gmail.com",
          "fullname": "Marco",
          "timezone": "Europe/Berlin",
          "toggl_accounts_id": "WSBrE7LiQPJ7PKA7WnCAnk",
          "default_workspace_id": 2230580,
          "beginning_of_week": 1,
          "image_url": "https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404&s=200",
          "created_at": "2016-03-20T20:40:08.017845Z",
          "updated_at": "2024-11-26T17:13:54.850204Z",
          "openid_email": null,
          "openid_enabled": true,
          "country_id": null,
          "has_password": true,
          "at": "2024-12-11T17:43:57.206072Z",
          "intercom_hash": "ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52",
          "oauth_providers": [
            "google"
          ],
          "authorization_updated_at": "2024-07-02T14:55:08.008327Z"
        }
      },
      "Tags": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Tag"
        },
        "example": [
          {
            "id": 16939168,
            "workspace_id": 2230580,
            "name": "AGL",
            "at": "2024-11-08T19:11:14.332795Z",
            "creator_id": 2166261
          },
          {
            "id": 13205684,
            "workspace_id": 2230580,
            "name": "Compare Alternatives",
            "at": "2022-11-04T23:23:28.20983Z",
            "creator_id": 2166261
          },
          {
            "id": 13169096,
            "workspace_id": 2230580,
            "name": "Create Content for Faetools.com",
            "at": "2022-10-28T11:23:35.956299Z",
            "creator_id": 2166261
          },
          {
            "id": 13155424,
            "workspace_id": 2230580,
            "name": "Create CSS bundler",
            "at": "2022-10-25T19:19:52.925472Z",
            "creator_id": 2166261
          },
          {
            "id": 16939169,
            "workspace_id": 2230580,
            "name": "Fae Tools",
            "at": "2024-11-08T19:11:14.341404Z",
            "creator_id": 2166261
          },
          {
            "id": 13164614,
            "workspace_id": 2230580,
            "name": "Fix Pagespeed Issues",
            "at": "2022-10-27T13:02:54.83923Z",
            "creator_id": 2166261
          },
          {
            "id": 3570301,
            "workspace_id": 2230580,
            "name": "mobile",
            "at": "2022-08-26T20:26:18.510465Z",
            "creator_id": 2166261
          },
          {
            "id": 13154422,
            "workspace_id": 2230580,
            "name": "Pilot: Proactively serve customers",
            "at": "2022-10-25T15:19:35.640635Z",
            "creator_id": 2166261
          },
          {
            "id": 13207357,
            "workspace_id": 2230580,
            "name": "Set Up Stripe",
            "at": "2022-11-05T20:21:38.490242Z",
            "creator_id": 2166261
          },
          {
            "id": 12489208,
            "workspace_id": 2230580,
            "name": "Story",
            "at": "2022-08-26T20:45:38.185398Z",
            "creator_id": 2166261
          },
          {
            "id": 13155425,
            "workspace_id": 2230580,
            "name": "Sub-task",
            "at": "2022-10-25T19:19:52.925472Z",
            "creator_id": 2166261
          },
          {
            "id": 12489209,
            "workspace_id": 2230580,
            "name": "Website Creator",
            "at": "2022-08-26T20:45:38.185398Z",
            "creator_id": 2166261
          }
        ]
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 16939168
          },
          "workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "name": {
            "type": "string",
            "example": "AGL"
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-08T19:11:14.332795Z"
          },
          "creator_id": {
            "type": "integer",
            "example": 2166261
          }
        },
        "required": [
          "id",
          "workspace_id",
          "name",
          "at",
          "creator_id"
        ],
        "example": {
          "id": 16939168,
          "workspace_id": 2230580,
          "name": "AGL",
          "at": "2024-11-08T19:11:14.332795Z",
          "creator_id": 2166261
        }
      },
      "Clients": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/WorkClient"
        },
        "example": [
          {
            "id": 64890399,
            "wid": 2230580,
            "archived": false,
            "name": "AGL",
            "at": "2024-03-17T10:55:38+00:00",
            "creator_id": 2166261
          },
          {
            "id": 64890400,
            "wid": 2230580,
            "archived": false,
            "name": "Mark",
            "at": "2024-03-17T10:56:13+00:00",
            "creator_id": 2166261
          },
          {
            "id": 64890401,
            "wid": 2230580,
            "archived": false,
            "name": "Fae Tools",
            "at": "2024-03-17T10:56:27+00:00",
            "creator_id": 2166261
          },
          {
            "id": 64890402,
            "wid": 2230580,
            "archived": false,
            "name": "Socratic Realms",
            "at": "2024-03-17T10:56:34+00:00",
            "creator_id": 2166261
          }
        ]
      },
      "WorkClient": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Client ID",
            "type": "integer",
            "example": 64890399
          },
          "wid": {
            "description": "Workspace ID",
            "type": "integer",
            "example": 2230580
          },
          "archived": {
            "description": "true, if the client is archived",
            "type": "boolean",
            "example": false
          },
          "name": {
            "description": "Name of the client",
            "type": "string",
            "example": "AGL"
          },
          "at": {
            "description": "When was the last update",
            "type": "string",
            "format": "date-time",
            "example": "2024-03-17T10:55:38+00:00"
          },
          "creator_id": {
            "description": "The ID of the user who created the client",
            "type": "integer",
            "example": 2166261
          },
          "integration_ext_id": {
            "description": "The external ID of the linked entity in the external system (e.g. JIRA/SalesForce)",
            "type": "string"
          },
          "integration_ext_type": {
            "description": "The external type of the linked entity in the external system (e.g. JIRA/SalesForce)",
            "type": "string"
          },
          "integration_provider": {
            "description": "The provider (e.g. JIRA/SalesForce) that has an entity linked to this Toggl Track entity",
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "permissions": {
            "description": "List of authorization permissions for this client.",
            "type": "string"
          }
        },
        "required": [
          "id",
          "wid",
          "archived",
          "name",
          "at",
          "creator_id"
        ],
        "example": {
          "id": 64890399,
          "wid": 2230580,
          "archived": false,
          "name": "AGL",
          "at": "2024-03-17T10:55:38+00:00",
          "creator_id": 2166261
        }
      },
      "TimeEntries": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TimeEntry"
        },
        "example": [
          {
            "id": 3727773734,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T20:38:54+00:00",
            "stop": null,
            "duration": -1734035934,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T20:40:28.056447Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3727713550,
            "workspace_id": 2230580,
            "project_id": 63334778,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T19:49:11+00:00",
            "stop": "2024-12-12T20:38:05+00:00",
            "duration": 2934,
            "description": "Write Newsletter Emails",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T20:38:06.061437Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334778
          },
          {
            "id": 3727357193,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T15:47:28+00:00",
            "stop": "2024-12-12T16:50:38+00:00",
            "duration": 3790,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T16:50:39.1067Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3727325644,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T15:30:36+00:00",
            "stop": "2024-12-12T15:46:38+00:00",
            "duration": 962,
            "description": "Bible Study Research",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T15:46:41.123303Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3727299066,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T15:16:06+00:00",
            "stop": "2024-12-12T15:30:33+00:00",
            "duration": 867,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T15:30:33.692654Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3727158556,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T14:02:35+00:00",
            "stop": "2024-12-12T14:20:59+00:00",
            "duration": 1104,
            "description": "Guided Meditation",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T14:21:00.850595Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3727052375,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T13:02:07+00:00",
            "stop": "2024-12-12T14:01:50+00:00",
            "duration": 3583,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T14:01:52.114131Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3726875744,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-12T10:41:00+00:00",
            "stop": "2024-12-12T11:00:00+00:00",
            "duration": 1140,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-12T11:38:19.958897Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3726210488,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-11T22:47:31+00:00",
            "stop": "2024-12-11T23:48:49+00:00",
            "duration": 3678,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-11T23:48:51.897914Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3726002626,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-11T19:45:58+00:00",
            "stop": "2024-12-11T20:02:51+00:00",
            "duration": 1013,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-11T20:02:51.852908Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3725995953,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-11T19:23:00+00:00",
            "stop": "2024-12-11T19:40:44+00:00",
            "duration": 1064,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-11T19:40:44.994323Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3725707524,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-11T16:12:00+00:00",
            "stop": "2024-12-11T18:00:41+00:00",
            "duration": 6521,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-11T18:00:43.380099Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3725302166,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-11T12:53:00+00:00",
            "stop": "2024-12-11T16:11:10+00:00",
            "duration": 11890,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-11T16:11:12.244041Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3725217109,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-11T11:58:03+00:00",
            "stop": "2024-12-11T12:33:15+00:00",
            "duration": 2112,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-11T12:33:18.203778Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3725071483,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-11T10:17:36+00:00",
            "stop": "2024-12-11T11:00:36+00:00",
            "duration": 2580,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-11T11:23:38.64444Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3724396025,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-10T21:55:46+00:00",
            "stop": "2024-12-10T22:07:49+00:00",
            "duration": 723,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-10T22:07:50.366398Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3724145401,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-10T18:21:00+00:00",
            "stop": "2024-12-10T18:56:56+00:00",
            "duration": 2156,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-10T18:56:56.582996Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3723966995,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-10T16:47:22+00:00",
            "stop": "2024-12-10T18:13:56+00:00",
            "duration": 5194,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-10T18:13:57.31878Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3723912305,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-10T16:17:19+00:00",
            "stop": "2024-12-10T16:41:33+00:00",
            "duration": 1454,
            "description": "Weekly Review",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-10T16:41:35.934883Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3723816044,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-10T15:20:00+00:00",
            "stop": "2024-12-10T15:36:00+00:00",
            "duration": 960,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-10T16:17:14.14169Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3722029927,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-09T16:09:42+00:00",
            "stop": "2024-12-09T19:36:16+00:00",
            "duration": 12394,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-09T19:36:16.49749Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3721967527,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-09T15:14:00+00:00",
            "stop": "2024-12-09T16:00:24+00:00",
            "duration": 2784,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-09T16:00:25.074836Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3720582604,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-08T15:13:51+00:00",
            "stop": "2024-12-08T15:32:17+00:00",
            "duration": 1106,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-08T15:32:20.504936Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3720552702,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-08T13:50:37+00:00",
            "stop": "2024-12-08T14:35:44+00:00",
            "duration": 2707,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-08T14:35:47.502824Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3720354546,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-07T23:59:32+00:00",
            "stop": "2024-12-08T01:28:37+00:00",
            "duration": 5345,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-08T01:28:40.236672Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3720347829,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-07T23:26:03+00:00",
            "stop": "2024-12-07T23:56:20+00:00",
            "duration": 1817,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-07T23:56:20.821056Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3720276557,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-07T18:36:24+00:00",
            "stop": "2024-12-07T20:15:06+00:00",
            "duration": 5922,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-07T20:15:06.805565Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3720241749,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-07T16:39:34+00:00",
            "stop": "2024-12-07T18:30:23+00:00",
            "duration": 6649,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-07T18:30:28.447285Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3720157557,
            "workspace_id": 2230580,
            "project_id": 65728232,
            "task_id": null,
            "billable": false,
            "start": "2024-12-07T11:08:00+00:00",
            "stop": "2024-12-07T12:13:27+00:00",
            "duration": 3927,
            "description": "Silvia",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-07T12:13:27.501863Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 65728232
          },
          {
            "id": 3720139249,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-07T11:00:00+00:00",
            "stop": "2024-12-07T11:08:34+00:00",
            "duration": 514,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-07T11:08:34.588933Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3720125278,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-07T10:17:16+00:00",
            "stop": "2024-12-07T10:44:03+00:00",
            "duration": 1607,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-07T10:44:04.854023Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3719609915,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-06T17:32:08+00:00",
            "stop": "2024-12-06T17:44:08+00:00",
            "duration": 720,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-06T17:44:10.767245Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3719569179,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-06T17:02:20+00:00",
            "stop": "2024-12-06T17:30:15+00:00",
            "duration": 1675,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-06T17:30:15.189288Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3719559624,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-06T16:48:00+00:00",
            "stop": "2024-12-06T16:56:39+00:00",
            "duration": 519,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-06T16:56:39.448313Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3719531738,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-06T16:25:00+00:00",
            "stop": "2024-12-06T16:48:20+00:00",
            "duration": 1400,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-06T16:48:21.507271Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3718506593,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-06T00:56:40+00:00",
            "stop": "2024-12-06T01:37:27+00:00",
            "duration": 2447,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-06T01:37:30.185149Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3718114410,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-05T18:42:03+00:00",
            "stop": "2024-12-05T21:30:34+00:00",
            "duration": 10111,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T21:30:36.426081Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3718023880,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-05T17:36:54+00:00",
            "stop": "2024-12-05T17:50:00+00:00",
            "duration": 786,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T18:42:02.875126Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3717861020,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-05T16:02:35+00:00",
            "stop": "2024-12-05T17:04:11+00:00",
            "duration": 3696,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T17:04:14.345752Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3717656776,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-05T14:00:00+00:00",
            "stop": "2024-12-05T14:21:31+00:00",
            "duration": 1291,
            "description": "Guided Meditation",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T14:21:31.219508Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3717514569,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-05T13:03:52+00:00",
            "stop": "2024-12-05T13:15:00+00:00",
            "duration": 668,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T14:01:11.832296Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3717337388,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-05T11:07:16+00:00",
            "stop": "2024-12-05T11:28:11+00:00",
            "duration": 1255,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T11:28:11.237007Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3716750908,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-05T01:13:20+00:00",
            "stop": "2024-12-05T01:37:58+00:00",
            "duration": 1478,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T01:37:58.568069Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3716715208,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T21:40:00+00:00",
            "stop": "2024-12-05T00:25:47+00:00",
            "duration": 9947,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T00:25:47.799007Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3716716458,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T19:00:00+00:00",
            "stop": "2024-12-04T20:10:00+00:00",
            "duration": 4200,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T00:27:42.217866Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3716230923,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T17:31:37+00:00",
            "stop": "2024-12-04T19:00:00+00:00",
            "duration": 5303,
            "description": "Men's Group",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-04T20:19:48.200301Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3716076409,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T16:04:42+00:00",
            "stop": "2024-12-04T17:30:18+00:00",
            "duration": 5136,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-05T00:28:20.334708Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3715948900,
            "workspace_id": 2230580,
            "project_id": 65728232,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T15:01:59+00:00",
            "stop": "2024-12-04T16:01:27+00:00",
            "duration": 3568,
            "description": "Paul Edney",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-04T16:01:29.217746Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 65728232
          },
          {
            "id": 3715724484,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T12:49:00+00:00",
            "stop": "2024-12-04T14:59:33+00:00",
            "duration": 7833,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-04T14:59:35.838485Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3715590971,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T11:46:07+00:00",
            "stop": "2024-12-04T12:10:46+00:00",
            "duration": 1479,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-04T12:10:50.603727Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3715228262,
            "workspace_id": 2230580,
            "project_id": 65728232,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T08:01:07+00:00",
            "stop": "2024-12-04T09:01:21+00:00",
            "duration": 3614,
            "description": "Jelena",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-04T09:01:22.082882Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 65728232
          },
          {
            "id": 3715163816,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-04T07:07:00+00:00",
            "stop": "2024-12-04T07:46:47+00:00",
            "duration": 2387,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-04T07:46:50.718287Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3714734711,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T21:45:05+00:00",
            "stop": "2024-12-03T22:14:24+00:00",
            "duration": 1759,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T22:14:27.640749Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3714496191,
            "workspace_id": 2230580,
            "project_id": 155392684,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T18:46:55+00:00",
            "stop": "2024-12-03T19:39:40+00:00",
            "duration": 3165,
            "description": "Open Sourcing",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T19:39:42.243377Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 155392684
          },
          {
            "id": 3714411185,
            "workspace_id": 2230580,
            "project_id": 190704516,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T17:50:06+00:00",
            "stop": "2024-12-03T18:35:58+00:00",
            "duration": 2752,
            "description": "Fitness Call",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T18:36:00.576012Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 190704516
          },
          {
            "id": 3714179386,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T15:46:03+00:00",
            "stop": "2024-12-03T17:49:06+00:00",
            "duration": 7383,
            "description": "Job Hunting",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T17:49:09.569759Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3713841891,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T10:40:00+00:00",
            "stop": "2024-12-03T12:21:00+00:00",
            "duration": 6060,
            "description": "Job Hunting",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T13:06:38.44402Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3713384546,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T08:38:46+00:00",
            "stop": "2024-12-03T10:21:46+00:00",
            "duration": 6180,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T13:06:08.636623Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3713322192,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T08:01:05+00:00",
            "stop": "2024-12-03T08:19:03+00:00",
            "duration": 1078,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T08:19:03.732992Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3713211465,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-03T06:18:00+00:00",
            "stop": "2024-12-03T07:03:36+00:00",
            "duration": 2736,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-03T07:03:37.643092Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          },
          {
            "id": 3712633654,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-02T19:38:51+00:00",
            "stop": "2024-12-02T19:58:48+00:00",
            "duration": 1197,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-02T19:58:50.118063Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3712048724,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-02T14:36:41+00:00",
            "stop": "2024-12-02T16:33:42+00:00",
            "duration": 7021,
            "description": "Study Leetcode",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-02T16:33:45.567326Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3711809363,
            "workspace_id": 2230580,
            "project_id": 193467840,
            "task_id": null,
            "billable": false,
            "start": "2024-12-02T12:44:13+00:00",
            "stop": "2024-12-02T14:18:11+00:00",
            "duration": 5638,
            "description": "Weekly Review",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-02T14:18:13.525578Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 193467840
          },
          {
            "id": 3711719950,
            "workspace_id": 2230580,
            "project_id": 63334409,
            "task_id": null,
            "billable": false,
            "start": "2024-12-02T11:45:00+00:00",
            "stop": "2024-12-02T12:42:45+00:00",
            "duration": 3465,
            "description": "Inbox Zero",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-02T12:42:46.880021Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 63334409
          },
          {
            "id": 3711571485,
            "workspace_id": 2230580,
            "project_id": 200880671,
            "task_id": null,
            "billable": false,
            "start": "2024-12-02T10:27:25+00:00",
            "stop": "2024-12-02T10:59:57+00:00",
            "duration": 1952,
            "description": "Miracle Morning",
            "tags": [],
            "tag_ids": [],
            "duronly": true,
            "at": "2024-12-02T10:59:57.481292Z",
            "server_deleted_at": null,
            "user_id": 2166261,
            "uid": 2166261,
            "wid": 2230580,
            "pid": 200880671
          }
        ]
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 3727977106
          },
          "workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "project_id": {
            "type": "integer",
            "example": 155392684
          },
          "task_id": {
            "type": "object"
          },
          "billable": {
            "type": "boolean",
            "example": false
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-13T00:18:26+00:00"
          },
          "stop": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-12T20:38:05+00:00"
          },
          "duration": {
            "type": "integer",
            "format": "duration",
            "example": -1734035934
          },
          "description": {
            "type": "string",
            "example": "Open Sourcing"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "duronly": {
            "type": "boolean",
            "example": true
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-12T20:40:28.056447Z"
          },
          "server_deleted_at": {
            "type": "object"
          },
          "user_id": {
            "type": "integer",
            "example": 2166261
          },
          "uid": {
            "type": "integer",
            "example": 2166261
          },
          "wid": {
            "type": "integer",
            "example": 2230580
          },
          "pid": {
            "type": "integer",
            "example": 155392684
          }
        },
        "required": [
          "id",
          "workspace_id",
          "project_id",
          "task_id",
          "billable",
          "start",
          "stop",
          "duration",
          "description",
          "tags",
          "tag_ids",
          "duronly",
          "at",
          "server_deleted_at",
          "user_id",
          "uid",
          "wid",
          "pid"
        ],
        "example": {
          "id": 3727977106,
          "workspace_id": 2230580,
          "project_id": 155392684,
          "task_id": null,
          "billable": false,
          "start": "2024-12-13T00:18:26+00:00",
          "stop": null,
          "duration": -1734049107,
          "description": "Open Sourcing",
          "tags": [],
          "tag_ids": [],
          "duronly": true,
          "at": "2024-12-13T00:18:26.835197Z",
          "server_deleted_at": null,
          "user_id": 2166261,
          "uid": 2166261,
          "wid": 2230580,
          "pid": 155392684
        }
      },
      "Options": {
        "type": "object",
        "additionalProperties": {
          "type": "string"
        }
      },
      "Projects": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Project"
        },
        "example": [
          {
            "id": 63334144,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Academy (Course Creation & Improvement)",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:40+00:00",
            "created_at": "2017-08-28T10:47:38+00:00",
            "server_deleted_at": null,
            "color": "#0b83d9",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 1103,
            "actual_seconds": 3973324,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-28",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 63334341,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Podcast Creation and Related Tasks",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:41+00:00",
            "created_at": "2017-08-28T10:48:31+00:00",
            "server_deleted_at": null,
            "color": "#465bb3",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 284,
            "actual_seconds": 1022823,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-28",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 63334409,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Social Media",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:41+00:00",
            "created_at": "2017-08-28T10:50:06+00:00",
            "server_deleted_at": null,
            "color": "#d92b2b",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 2084,
            "actual_seconds": 7503998,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-28",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 63334598,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Power Workshops (Creation and Live Call)",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:41+00:00",
            "created_at": "2017-08-28T10:50:55+00:00",
            "server_deleted_at": null,
            "color": "#2da608",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 104,
            "actual_seconds": 376984,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-28",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 63334778,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL E-Mails and Funnel",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:41+00:00",
            "created_at": "2017-08-28T10:51:41+00:00",
            "server_deleted_at": null,
            "color": "#9e5bd9",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 249,
            "actual_seconds": 897223,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-28",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 63334886,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Website Management and Improvement",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:53+00:00",
            "created_at": "2017-08-28T10:52:07+00:00",
            "server_deleted_at": null,
            "color": "#bf7000",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 770,
            "actual_seconds": 2773111,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-28",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 63335653,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Video Creation and Upload",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:53+00:00",
            "created_at": "2017-08-28T10:58:24+00:00",
            "server_deleted_at": null,
            "color": "#0b83d9",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 376,
            "actual_seconds": 1356667,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-28",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 64082580,
            "workspace_id": 2230580,
            "client_id": null,
            "name": "Bug Fixing",
            "is_private": false,
            "active": true,
            "at": "2024-01-04T08:19:09+00:00",
            "created_at": "2017-08-31T14:53:43+00:00",
            "server_deleted_at": null,
            "color": "#c7af14",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 2,
            "actual_seconds": 7200,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-08-31",
            "status": "active",
            "wid": 2230580,
            "cid": null,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 64280362,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Housekeeping",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:41+00:00",
            "created_at": "2017-09-01T11:39:40+00:00",
            "server_deleted_at": null,
            "color": "#0b83d9",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 4,
            "actual_seconds": 14547,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-09-01",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 65728232,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Coaching",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:40+00:00",
            "created_at": "2017-09-07T14:55:46+00:00",
            "server_deleted_at": null,
            "color": "#c9806b",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 779,
            "actual_seconds": 2805470,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-09-07",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 73915499,
            "workspace_id": 2230580,
            "client_id": null,
            "name": "Planning Tasks, OKRs",
            "is_private": false,
            "active": true,
            "at": "2024-01-04T10:06:27+00:00",
            "created_at": "2017-10-10T07:27:51+00:00",
            "server_deleted_at": null,
            "color": "#c9806b",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 45,
            "actual_seconds": 165170,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-10-10",
            "status": "active",
            "wid": 2230580,
            "cid": null,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 88962407,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Custom Service",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:41+00:00",
            "created_at": "2017-12-20T09:23:31+00:00",
            "server_deleted_at": null,
            "color": "#525266",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 53,
            "actual_seconds": 193204,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2017-12-20",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 106257141,
            "workspace_id": 2230580,
            "client_id": 64890400,
            "name": "Business Education",
            "is_private": true,
            "active": true,
            "at": "2024-03-17T10:59:09+00:00",
            "created_at": "2018-03-18T14:21:27+00:00",
            "server_deleted_at": null,
            "color": "#e36a00",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 27,
            "actual_seconds": 99244,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2018-03-18",
            "status": "active",
            "wid": 2230580,
            "cid": 64890400,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 148460132,
            "workspace_id": 2230580,
            "client_id": null,
            "name": "Tutoring",
            "is_private": false,
            "active": false,
            "at": "2024-03-17T11:02:52+00:00",
            "created_at": "2018-12-28T08:20:55+00:00",
            "server_deleted_at": null,
            "color": "#06a893",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 2,
            "actual_seconds": 8227,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2018-12-28",
            "status": "archived",
            "wid": 2230580,
            "cid": null,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 150523487,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "AGL Coding",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:58:41+00:00",
            "created_at": "2019-03-26T05:06:52+00:00",
            "server_deleted_at": null,
            "color": "#465bb3",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 430,
            "actual_seconds": 1551439,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2019-03-26",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 151377968,
            "workspace_id": 2230580,
            "client_id": 64890400,
            "name": "MR Website",
            "is_private": false,
            "active": true,
            "at": "2024-03-17T10:59:09+00:00",
            "created_at": "2019-05-03T10:05:18+00:00",
            "server_deleted_at": null,
            "color": "#d94182",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 132,
            "actual_seconds": 477088,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2019-05-03",
            "status": "active",
            "wid": 2230580,
            "cid": 64890400,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 155392684,
            "workspace_id": 2230580,
            "client_id": 64890401,
            "name": "Programming",
            "is_private": true,
            "active": true,
            "at": "2024-03-17T11:02:18+00:00",
            "created_at": "2019-11-16T12:32:47+00:00",
            "server_deleted_at": null,
            "color": "#d94182",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 2422,
            "actual_seconds": 8720133,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2019-11-16",
            "status": "active",
            "wid": 2230580,
            "cid": 64890401,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 164435350,
            "workspace_id": 2230580,
            "client_id": null,
            "name": "Flyt",
            "is_private": true,
            "active": true,
            "at": "2024-01-05T01:55:08+00:00",
            "created_at": "2020-10-19T12:08:48+00:00",
            "server_deleted_at": null,
            "color": "#525266",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 3199,
            "actual_seconds": 11519217,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2020-10-19",
            "status": "active",
            "wid": 2230580,
            "cid": null,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 169487914,
            "workspace_id": 2230580,
            "client_id": 64890401,
            "name": "Fae Social Media",
            "is_private": true,
            "active": true,
            "at": "2024-03-17T10:59:25+00:00",
            "created_at": "2021-04-30T18:51:21+00:00",
            "server_deleted_at": null,
            "color": "#566614",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 10,
            "actual_seconds": 38693,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2021-04-30",
            "status": "active",
            "wid": 2230580,
            "cid": 64890401,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 187344901,
            "workspace_id": 2230580,
            "client_id": 64890401,
            "name": "Fae Writing",
            "is_private": true,
            "active": true,
            "at": "2024-03-17T10:59:25+00:00",
            "created_at": "2022-11-18T22:10:13+00:00",
            "server_deleted_at": null,
            "color": "#525266",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 3,
            "actual_seconds": 11956,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2022-11-18",
            "status": "active",
            "wid": 2230580,
            "cid": 64890401,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 190704516,
            "workspace_id": 2230580,
            "client_id": 64890400,
            "name": "Mastermind",
            "is_private": true,
            "active": true,
            "at": "2024-03-17T10:59:38+00:00",
            "created_at": "2023-03-20T15:13:59+00:00",
            "server_deleted_at": null,
            "color": "#2da608",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 101,
            "actual_seconds": 363652,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2023-03-20",
            "status": "active",
            "wid": 2230580,
            "cid": 64890400,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 193467840,
            "workspace_id": 2230580,
            "client_id": 64890400,
            "name": "Personal Development",
            "is_private": true,
            "active": true,
            "at": "2024-03-17T10:59:38+00:00",
            "created_at": "2023-07-05T13:28:16+00:00",
            "server_deleted_at": null,
            "color": "#2da608",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 248,
            "actual_seconds": 895000,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2023-07-05",
            "status": "active",
            "wid": 2230580,
            "cid": 64890400,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 200008763,
            "workspace_id": 2230580,
            "client_id": null,
            "name": "Socratic Realms",
            "is_private": true,
            "active": true,
            "at": "2024-02-18T11:12:02+00:00",
            "created_at": "2024-02-18T11:12:02+00:00",
            "server_deleted_at": null,
            "color": "#2da608",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 4,
            "actual_seconds": 15563,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2024-02-18",
            "status": "active",
            "wid": 2230580,
            "cid": null,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 200880671,
            "workspace_id": 2230580,
            "client_id": 64890400,
            "name": "Miracle Morning 🌅",
            "is_private": true,
            "active": true,
            "at": "2024-03-17T10:56:13+00:00",
            "created_at": "2024-03-15T06:33:41+00:00",
            "server_deleted_at": null,
            "color": "#c7af14",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 133,
            "actual_seconds": 482226,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2024-03-15",
            "status": "active",
            "wid": 2230580,
            "cid": 64890400,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 200880994,
            "workspace_id": 2230580,
            "client_id": null,
            "name": "Housekeeping & Errands",
            "is_private": true,
            "active": true,
            "at": "2024-03-15T06:50:06+00:00",
            "created_at": "2024-03-15T06:50:06+00:00",
            "server_deleted_at": null,
            "color": "#0b83d9",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 17,
            "actual_seconds": 63806,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2024-03-15",
            "status": "active",
            "wid": 2230580,
            "cid": null,
            "is_shared": false,
            "pinned": false
          },
          {
            "id": 201802517,
            "workspace_id": 2230580,
            "client_id": 64890399,
            "name": "Video Production",
            "is_private": true,
            "active": true,
            "at": "2024-04-05T07:36:14+00:00",
            "created_at": "2024-04-05T07:36:14+00:00",
            "server_deleted_at": null,
            "color": "#e36a00",
            "billable": false,
            "template": null,
            "auto_estimates": null,
            "estimated_hours": null,
            "estimated_seconds": null,
            "rate": null,
            "rate_last_updated": null,
            "currency": null,
            "recurring": false,
            "template_id": null,
            "recurring_parameters": null,
            "fixed_fee": null,
            "actual_hours": 34,
            "actual_seconds": 124539,
            "tasks_count": null,
            "can_track_time": false,
            "start_date": "2024-04-05",
            "status": "active",
            "wid": 2230580,
            "cid": 64890399,
            "is_shared": false,
            "pinned": false
          }
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Project ID",
            "type": "integer",
            "example": 63334144
          },
          "workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "client_id": {
            "description": "Client ID",
            "type": "integer",
            "example": 64890399,
            "x-nullable": true
          },
          "name": {
            "type": "string",
            "example": "AGL Academy (Course Creation & Improvement)"
          },
          "is_private": {
            "type": "boolean",
            "example": false
          },
          "active": {
            "description": "Whether the project is active or archived",
            "type": "boolean",
            "example": true
          },
          "at": {
            "description": "Last updated date",
            "type": "string",
            "format": "date-time",
            "example": "2024-03-17T10:58:40+00:00"
          },
          "created_at": {
            "description": "Creation date",
            "type": "string",
            "format": "date-time",
            "example": "2017-08-28T10:47:38+00:00"
          },
          "server_deleted_at": {
            "type": "object"
          },
          "color": {
            "description": "Color",
            "type": "string",
            "example": "#0b83d9"
          },
          "billable": {
            "description": "Whether the project is billable, premium feature",
            "type": "boolean",
            "example": false,
            "x-nullable": true
          },
          "template": {
            "type": "object"
          },
          "auto_estimates": {
            "description": "Whether estimates are based on task hours, premium feature",
            "type": "boolean",
            "x-nullable": true
          },
          "current_period": {
            "$ref": "#/components/schemas/RecurringPeriod"
          },
          "end_date": {
            "description": "End date",
            "type": "string"
          },
          "estimated_hours": {
            "description": "Estimated hours",
            "type": "integer",
            "x-nullable": true
          },
          "estimated_seconds": {
            "description": "Estimated seconds",
            "type": "integer",
            "x-nullable": true
          },
          "rate": {
            "type": "object"
          },
          "rate_last_updated": {
            "type": "object"
          },
          "currency": {
            "description": "Currency, premium feature",
            "type": "string",
            "x-nullable": true
          },
          "recurring": {
            "type": "boolean",
            "example": false
          },
          "template_id": {
            "type": "object"
          },
          "recurring_parameters": {
            "type": "object"
          },
          "fixed_fee": {
            "description": "Fixed fee, premium feature",
            "type": "number"
          },
          "actual_hours": {
            "description": "Actual hours",
            "type": "integer",
            "example": 1103,
            "x-nullable": true
          },
          "actual_seconds": {
            "description": "Actual seconds",
            "type": "integer",
            "example": 3973324,
            "x-nullable": true
          },
          "tasks_count": {
            "type": "object"
          },
          "can_track_time": {
            "type": "boolean",
            "example": false
          },
          "start_date": {
            "type": "string",
            "example": "2017-08-28"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "wid": {
            "type": "integer",
            "example": 2230580
          },
          "cid": {
            "description": "Client ID legacy field",
            "type": "integer",
            "example": 64890399
          },
          "is_shared": {
            "type": "boolean",
            "example": false
          },
          "pinned": {
            "type": "boolean",
            "example": false
          },
          "integration_ext_id": {
            "description": "The external ID of the linked entity in the external system (e.g. JIRA/SalesForce)",
            "type": "string"
          },
          "integration_ext_type": {
            "description": "The external type of the linked entity in the external system (e.g. JIRA/SalesForce)",
            "type": "string"
          },
          "integration_provider": {
            "description": "The provider (e.g. JIRA/SalesForce) that has an entity linked to this Toggl Track entity",
            "type": "string"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "client_id",
          "name",
          "is_private",
          "active",
          "at",
          "created_at",
          "server_deleted_at",
          "color",
          "billable",
          "template",
          "auto_estimates",
          "estimated_hours",
          "estimated_seconds",
          "rate",
          "rate_last_updated",
          "currency",
          "recurring",
          "template_id",
          "recurring_parameters",
          "fixed_fee",
          "actual_hours",
          "actual_seconds",
          "tasks_count",
          "can_track_time",
          "start_date",
          "status",
          "wid",
          "cid",
          "is_shared",
          "pinned"
        ],
        "example": {
          "id": 63334144,
          "workspace_id": 2230580,
          "client_id": 64890399,
          "name": "AGL Academy (Course Creation & Improvement)",
          "is_private": false,
          "active": true,
          "at": "2024-03-17T10:58:40+00:00",
          "created_at": "2017-08-28T10:47:38+00:00",
          "server_deleted_at": null,
          "color": "#0b83d9",
          "billable": false,
          "template": null,
          "auto_estimates": null,
          "estimated_hours": null,
          "estimated_seconds": null,
          "rate": null,
          "rate_last_updated": null,
          "currency": null,
          "recurring": false,
          "template_id": null,
          "recurring_parameters": null,
          "fixed_fee": null,
          "actual_hours": 1103,
          "actual_seconds": 3973324,
          "tasks_count": null,
          "can_track_time": false,
          "start_date": "2017-08-28",
          "status": "active",
          "wid": 2230580,
          "cid": 64890399,
          "is_shared": false,
          "pinned": false
        }
      },
      "Workspaces": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Workspace"
        },
        "example": [
          {
            "id": 2230580,
            "organization_id": 2108099,
            "name": "Atlantean Renaissance",
            "premium": false,
            "business_ws": false,
            "admin": true,
            "role": "admin",
            "suspended_at": null,
            "server_deleted_at": null,
            "default_hourly_rate": null,
            "rate_last_updated": null,
            "default_currency": "USD",
            "only_admins_may_create_projects": false,
            "only_admins_may_create_tags": false,
            "only_admins_see_billable_rates": false,
            "only_admins_see_team_dashboard": false,
            "projects_billable_by_default": true,
            "projects_private_by_default": true,
            "projects_enforce_billable": false,
            "limit_public_project_data": false,
            "last_modified": "2024-12-12T00:00:00Z",
            "reports_collapse": true,
            "rounding": 0,
            "rounding_minutes": 0,
            "api_token": "831d9ff9f4bdebc4b33aeec85526a300",
            "at": "2024-12-12T11:00:55+00:00",
            "logo_url": "https://assets.track.toggl.com/images/workspace.jpg",
            "ical_url": "/ical/workspace_user/4cbf3bdb29573494d335bee61b2c12a7",
            "ical_enabled": true,
            "csv_upload": null,
            "subscription": null,
            "hide_start_end_times": false,
            "working_hours_in_minutes": null
          }
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 2230580
          },
          "organization_id": {
            "type": "integer",
            "example": 2108099
          },
          "name": {
            "type": "string",
            "example": "Atlantean Renaissance"
          },
          "premium": {
            "type": "boolean",
            "example": false
          },
          "business_ws": {
            "type": "boolean",
            "example": false
          },
          "admin": {
            "type": "boolean",
            "example": true
          },
          "role": {
            "type": "string",
            "example": "admin"
          },
          "suspended_at": {
            "type": "object"
          },
          "server_deleted_at": {
            "type": "object"
          },
          "default_hourly_rate": {
            "type": "object"
          },
          "rate_last_updated": {
            "type": "object"
          },
          "default_currency": {
            "type": "string",
            "example": "USD"
          },
          "only_admins_may_create_projects": {
            "type": "boolean",
            "example": false
          },
          "only_admins_may_create_tags": {
            "type": "boolean",
            "example": false
          },
          "only_admins_see_billable_rates": {
            "type": "boolean",
            "example": false
          },
          "only_admins_see_team_dashboard": {
            "type": "boolean",
            "example": false
          },
          "projects_billable_by_default": {
            "type": "boolean",
            "example": true
          },
          "projects_private_by_default": {
            "type": "boolean",
            "example": true
[...]
