{
  "openapi": "3.1.0",
  "info": {
    "title": "Toggl API",
    "description": "Public Toggl API.\nNote:\nWe use BasicAuth in a specific way. By the standard you provide `Authentication` header with `base64(user_name:password)` as a `credential`.\nIn our case it will be `base64(user_name:api_token)`.",
    "termsOfService": "https://toggl.com/terms/",
    "license": {
      "name": "Toggl Proprietary License"
    },
    "version": "9"
  },
  "servers": [
    {
      "url": "https://api.track.toggl.com/api/v9"
    }
  ],
  "paths": {
    "/me": {
      "parameters": [
        {
          "$ref": "#/components/parameters/with_related_data"
        }
      ],
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Return Current User",
        "description": "Returns details for the current user.",
        "operationId": "GetMe",
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 2166261
          },
          "api_token": {
            "type": "string",
            "example": "********************************"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "marcodroesler@gmail.com"
          },
          "fullname": {
            "type": "string",
            "example": "Marco"
          },
          "timezone": {
            "type": "string",
            "example": "Europe/Berlin"
          },
          "toggl_accounts_id": {
            "type": "string",
            "example": "WSBrE7LiQPJ7PKA7WnCAnk"
          },
          "default_workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "beginning_of_week": {
            "type": "integer",
            "example": 1
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "example": "https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404&s=200"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2016-03-20T20:40:08.017845Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-26T17:13:54.850204Z"
          },
          "openid_email": {
            "type": "object"
          },
          "openid_enabled": {
            "type": "boolean",
            "example": true
          },
          "country_id": {
            "type": "object"
          },
          "has_password": {
            "type": "boolean",
            "example": true
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-11T17:43:57.206072Z"
          },
          "intercom_hash": {
            "type": "string",
            "example": "ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52"
          },
          "oauth_providers": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "google"
            }
          },
          "authorization_updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-07-02T14:55:08.008327Z"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          },
          "clients": {
            "$ref": "#/components/schemas/Clients"
          },
          "time_entries": {
            "$ref": "#/components/schemas/TimeEntries"
          },
          "projects": {
            "$ref": "#/components/schemas/Projects"
          },
          "workspaces": {
            "$ref": "#/components/schemas/Workspaces"
          }
        },
        "required": [
          "id",
          "api_token",
          "email",
          "fullname",
          "timezone",
          "toggl_accounts_id",
          "default_workspace_id",
          "beginning_of_week",
          "image_url",
          "created_at",
          "updated_at",
          "openid_email",
          "openid_enabled",
          "country_id",
          "has_password",
          "at",
          "intercom_hash",
          "oauth_providers",
          "authorization_updated_at"
        ],
        "example": {
          "id": 2166261,
          "api_token": "********************************",
          "email": "marcodroesler@gmail.com",
          "fullname": "Marco",
          "timezone": "Europe/Berlin",
          "toggl_accounts_id": "WSBrE7LiQPJ7PKA7WnCAnk",
          "default_workspace_id": 2230580,
          "beginning_of_week": 1,
          "image_url": "https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404&s=200",
          "created_at": "2016-03-20T20:40:08.017845Z",
          "updated_at": "2024-11-26T17:13:54.850204Z",
          "openid_email": null,
          "openid_enabled": true,
          "country_id": null,
          "has_password": true,
          "at": "2024-12-11T17:43:57.206072Z",
          "intercom_hash": "ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52",
          "oauth_providers": [
            "google"
          ],
          "authorization_updated_at": "2024-07-02T14:55:08.008327Z"
        }
      },
      "Tags": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Tag"
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 16939168
          },
          "workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "name": {
            "type": "string",
            "example": "AGL"
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-08T19:11:14.332795Z"
          },
          "creator_id": {
            "type": "integer",
            "example": 2166261
          }
        },
        "required": [
          "id",
          "workspace_id",
          "name",
          "at",
          "creator_id"
        ],
        "example": {
          "id": 16939168,
          "workspace_id": 2230580,
          "name": "AGL",
          "at": "2024-11-08T19:11:14.332795Z",
          "creator_id": 2166261
        }
      },
      "Clients": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/WorkClient"
        }
      },
      "WorkClient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 64890399
          },
          "wid": {
            "type": "integer",
            "example": 2230580
          },
          "archived": {
            "type": "boolean",
            "example": false
          },
          "name": {
            "type": "string",
            "example": "AGL"
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-17T10:55:38+00:00"
          },
          "creator_id": {
            "type": "integer",
            "example": 2166261
          }
        },
        "required": [
          "id",
          "wid",
          "archived",
          "name",
          "at",
          "creator_id"
        ],
        "example": {
          "id": 64890399,
          "wid": 2230580,
          "archived": false,
          "name": "AGL",
          "at": "2024-03-17T10:55:38+00:00",
          "creator_id": 2166261
        }
      },
      "TimeEntries": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TimeEntry"
        }
      },
      "TimeEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 3727773734
          },
          "workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "project_id": {
            "type": "integer",
            "example": 155392684
          },
          "task_id": {
            "type": "object"
          },
          "billable": {
            "type": "boolean",
            "example": false
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-12T20:38:54+00:00"
          },
          "stop": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-12T20:38:05+00:00"
          },
          "duration": {
            "type": "integer",
            "example": -1734035934
          },
          "description": {
            "type": "string",
            "example": "Open Sourcing"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "duronly": {
            "type": "boolean",
            "example": true
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-12T20:40:28.056447Z"
          },
          "server_deleted_at": {
            "type": "object"
          },
          "user_id": {
            "type": "integer",
            "example": 2166261
          },
          "uid": {
            "type": "integer",
            "example": 2166261
          },
          "wid": {
            "type": "integer",
            "example": 2230580
          },
          "pid": {
            "type": "integer",
            "example": 155392684
          }
        },
        "required": [
          "id",
          "workspace_id",
          "project_id",
          "task_id",
          "billable",
          "start",
          "stop",
          "duration",
          "description",
          "tags",
          "tag_ids",
          "duronly",
          "at",
          "server_deleted_at",
          "user_id",
          "uid",
          "wid",
          "pid"
        ],
        "example": {
          "id": 3727773734,
          "workspace_id": 2230580,
          "project_id": 155392684,
          "task_id": null,
          "billable": false,
          "start": "2024-12-12T20:38:54+00:00",
          "stop": null,
          "duration": -1734035934,
          "description": "Open Sourcing",
          "tags": [],
          "tag_ids": [],
          "duronly": true,
          "at": "2024-12-12T20:40:28.056447Z",
          "server_deleted_at": null,
          "user_id": 2166261,
          "uid": 2166261,
          "wid": 2230580,
          "pid": 155392684
        }
      },
      "Projects": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Project"
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 63334144
          },
          "workspace_id": {
            "type": "integer",
            "example": 2230580
          },
          "client_id": {
            "type": "integer",
            "example": 64890399
          },
          "name": {
            "type": "string",
            "example": "AGL Academy (Course Creation & Improvement)"
          },
          "is_private": {
            "type": "boolean",
            "example": false
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-03-17T10:58:40+00:00"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2017-08-28T10:47:38+00:00"
          },
          "server_deleted_at": {
            "type": "object"
          },
          "color": {
            "type": "string",
            "example": "#0b83d9"
          },
          "billable": {
            "type": "boolean",
            "example": false
          },
          "template": {
            "type": "object"
          },
          "auto_estimates": {
            "type": "object"
          },
          "estimated_hours": {
            "type": "object"
          },
          "estimated_seconds": {
            "type": "object"
          },
          "rate": {
            "type": "object"
          },
          "rate_last_updated": {
            "type": "object"
          },
          "currency": {
            "type": "object"
          },
          "recurring": {
            "type": "boolean",
            "example": false
          },
          "template_id": {
            "type": "object"
          },
          "recurring_parameters": {
            "type": "object"
          },
          "fixed_fee": {
            "type": "object"
          },
          "actual_hours": {
            "type": "integer",
            "example": 1103
          },
          "actual_seconds": {
            "type": "integer",
            "example": 3973324
          },
          "tasks_count": {
            "type": "object"
          },
          "can_track_time": {
            "type": "boolean",
            "example": false
          },
          "start_date": {
            "type": "string",
            "example": "2017-08-28"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "wid": {
            "type": "integer",
            "example": 2230580
          },
          "cid": {
            "type": "integer",
            "example": 64890399
          },
          "is_shared": {
            "type": "boolean",
            "example": false
          },
          "pinned": {
            "type": "boolean",
            "example": false
          }
        },
        "required": [
          "id",
          "workspace_id",
          "client_id",
          "name",
          "is_private",
          "active",
          "at",
          "created_at",
          "server_deleted_at",
          "color",
          "billable",
          "template",
          "auto_estimates",
          "estimated_hours",
          "estimated_seconds",
          "rate",
          "rate_last_updated",
          "currency",
          "recurring",
          "template_id",
          "recurring_parameters",
          "fixed_fee",
          "actual_hours",
          "actual_seconds",
          "tasks_count",
          "can_track_time",
          "start_date",
          "status",
          "wid",
          "cid",
          "is_shared",
          "pinned"
        ],
        "example": {
          "id": 63334144,
          "workspace_id": 2230580,
          "client_id": 64890399,
          "name": "AGL Academy (Course Creation & Improvement)",
          "is_private": false,
          "active": true,
          "at": "2024-03-17T10:58:40+00:00",
          "created_at": "2017-08-28T10:47:38+00:00",
          "server_deleted_at": null,
          "color": "#0b83d9",
          "billable": false,
          "template": null,
          "auto_estimates": null,
          "estimated_hours": null,
          "estimated_seconds": null,
          "rate": null,
          "rate_last_updated": null,
          "currency": null,
          "recurring": false,
          "template_id": null,
          "recurring_parameters": null,
          "fixed_fee": null,
          "actual_hours": 1103,
          "actual_seconds": 3973324,
          "tasks_count": null,
          "can_track_time": false,
          "start_date": "2017-08-28",
          "status": "active",
          "wid": 2230580,
          "cid": 64890399,
          "is_shared": false,
          "pinned": false
        }
      },
      "Workspaces": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Workspace"
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 2230580
          },
          "organization_id": {
            "type": "integer",
            "example": 2108099
          },
          "name": {
            "type": "string",
            "example": "Atlantean Renaissance"
          },
          "premium": {
            "type": "boolean",
            "example": false
          },
          "business_ws": {
            "type": "boolean",
            "example": false
          },
          "admin": {
            "type": "boolean",
            "example": true
          },
          "role": {
            "type": "string",
            "example": "admin"
          },
          "suspended_at": {
            "type": "object"
          },
          "server_deleted_at": {
            "type": "object"
          },
          "default_hourly_rate": {
            "type": "object"
          },
          "rate_last_updated": {
            "type": "object"
          },
          "default_currency": {
            "type": "string",
            "example": "USD"
          },
          "only_admins_may_create_projects": {
            "type": "boolean",
            "example": false
          },
          "only_admins_may_create_tags": {
            "type": "boolean",
            "example": false
          },
          "only_admins_see_billable_rates": {
            "type": "boolean",
            "example": false
          },
          "only_admins_see_team_dashboard": {
            "type": "boolean",
            "example": false
          },
          "projects_billable_by_default": {
            "type": "boolean",
            "example": true
          },
          "projects_private_by_default": {
            "type": "boolean",
            "example": true
          },
          "projects_enforce_billable": {
            "type": "boolean",
            "example": false
          },
          "limit_public_project_data": {
            "type": "boolean",
            "example": false
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-12T00:00:00Z"
          },
          "reports_collapse": {
            "type": "boolean",
            "example": true
          },
          "rounding": {
            "type": "integer",
            "example": 0
          },
          "rounding_minutes": {
            "type": "integer",
            "example": 0
          },
          "api_token": {
            "type": "string",
            "format": "uuid",
            "example": "831d9ff9f4bdebc4b33aeec85526a300"
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-12T11:00:55+00:00"
          },
          "logo_url": {
            "type": "string",
            "format": "uri",
            "example": "https://assets.track.toggl.com/images/workspace.jpg"
          },
          "ical_url": {
            "type": "string",
            "example": "/ical/workspace_user/4cbf3bdb29573494d335bee61b2c12a7"
          },
          "ical_enabled": {
            "type": "boolean",
            "example": true
          },
          "csv_upload": {
            "type": "object"
          },
          "subscription": {
            "type": "object"
          },
          "hide_start_end_times": {
            "type": "boolean",
            "example": false
          },
          "working_hours_in_minutes": {
            "type": "object"
          }
        },
        "required": [
          "id",
          "organization_id",
          "name",
          "premium",
          "business_ws",
          "admin",
          "role",
          "suspended_at",
          "server_deleted_at",
          "default_hourly_rate",
          "rate_last_updated",
          "default_currency",
          "only_admins_may_create_projects",
          "only_admins_may_create_tags",
          "only_admins_see_billable_rates",
          "only_admins_see_team_dashboard",
          "projects_billable_by_default",
          "projects_private_by_default",
          "projects_enforce_billable",
          "limit_public_project_data",
          "last_modified",
          "reports_collapse",
          "rounding",
          "rounding_minutes",
          "api_token",
          "at",
          "logo_url",
          "ical_url",
          "ical_enabled",
          "csv_upload",
          "subscription",
          "hide_start_end_times",
          "working_hours_in_minutes"
        ],
        "example": {
          "id": 2230580,
          "organization_id": 2108099,
          "name": "Atlantean Renaissance",
          "premium": false,
          "business_ws": false,
          "admin": true,
          "role": "admin",
          "suspended_at": null,
          "server_deleted_at": null,
          "default_hourly_rate": null,
          "rate_last_updated": null,
          "default_currency": "USD",
          "only_admins_may_create_projects": false,
          "only_admins_may_create_tags": false,
          "only_admins_see_billable_rates": false,
          "only_admins_see_team_dashboard": false,
          "projects_billable_by_default": true,
          "projects_private_by_default": true,
          "projects_enforce_billable": false,
          "limit_public_project_data": false,
          "last_modified": "2024-12-12T00:00:00Z",
          "reports_collapse": true,
          "rounding": 0,
          "rounding_minutes": 0,
          "api_token": "831d9ff9f4bdebc4b33aeec85526a300",
          "at": "2024-12-12T11:00:55+00:00",
          "logo_url": "https://assets.track.toggl.com/images/workspace.jpg",
          "ical_url": "/ical/workspace_user/4cbf3bdb29573494d335bee61b2c12a7",
          "ical_enabled": true,
          "csv_upload": null,
          "subscription": null,
          "hide_start_end_times": false,
          "working_hours_in_minutes": null
        }
      }
    },
    "responses": {
      "UnauthorizedResponse": {
        "description": "User is unauthorized to use the API"
      },
      "UserResponse": {
        "description": "Returns the user.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/User"
            },
            "example": {
              "id": 2166261,
              "api_token": "********************************",
              "email": "marcodroesler@gmail.com",
              "fullname": "Marco",
              "timezone": "Europe/Berlin",
              "toggl_accounts_id": "WSBrE7LiQPJ7PKA7WnCAnk",
              "default_workspace_id": 2230580,
              "beginning_of_week": 1,
              "image_url": "https://secure.gravatar.com/avatar/af0a4ad100669ddbc678eb40ba90459d?d=404&s=200",
              "created_at": "2016-03-20T20:40:08.017845Z",
              "updated_at": "2024-11-26T17:13:54.850204Z",
              "openid_email": null,
              "openid_enabled": true,
              "country_id": null,
              "has_password": true,
              "at": "2024-12-11T17:43:57.206072Z",
              "intercom_hash": "ea08fc8166eed37e79f7179c3c8334cd99ae5afbbd0339ab1ecb333fb1615d52",
              "oauth_providers": [
                "google"
              ],
              "authorization_updated_at": "2024-07-02T14:55:08.008327Z"
            }
          }
        }
      }
    },
    "parameters": {
      "with_related_data": {
        "name": "with_related_data",
        "in": "query",
        "description": "Retrieve user related data (clients, projects, tasks, tags, workspaces, time entries, etc.)",
        "schema": {
          "type": "boolean",
          "example": true
        },
        "example": true
      }
    },
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "description": "The Authorization header is constructed either using the email and password or the API token and the string literal 'api_token'.",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ]
}